n8n/workflows/01-Ingest.json
{
    "name": "01-Ingest-Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ingest",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "1",
            "name": "Webhook Ingest",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "ingest"
        },
        {
            "parameters": {
                "operation": "upload",
                "bucketName": "documents",
                "fileName": "={{ $json.body.document_id }}.pdf",
                "binaryPropertyName": "file"
            },
            "id": "2",
            "name": "MinIO S3 Upload",
            "type": "n8n-nodes-base.awsS3",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {},
            "id": "3",
            "name": "Read PDF",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "chunkSize": 1000,
                "chunkOverlap": 100
            },
            "id": "4",
            "name": "Character Text Splitter",
            "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                850,
                450
            ]
        },
        {
            "parameters": {
                "model": "text-embedding-3-small"
            },
            "id": "5",
            "name": "Embeddings OpenAI",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1,
            "position": [
                850,
                600
            ]
        },
        {
            "parameters": {
                "mode": "insert",
                "qdrantCollection": "toolbox-demo",
                "options": {
                    "metadata": "={\n  \"document_id\": \"{{$json.body.document_id}}\"\n}"
                }
            },
            "id": "6",
            "name": "Qdrant Vector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Ingest": {
            "main": [
                [
                    {
                        "node": "MinIO S3 Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MinIO S3 Upload": {
            "main": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Character Text Splitter": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Read PDF",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "Read PDF": {
            "ai_document": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}