n8n/workflows/02-Delete.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "delete",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "58751d72-0f51-4893-b546-e3661f18d70e",
            "name": "Webhook Delete",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                272,
                -144
            ],
            "webhookId": "delete"
        },
        {
            "parameters": {
                "operation": "delete",
                "bucketName": "documents",
                "fileKey": "={{ $json.body.id }}.pdf",
                "options": {
                    "versionId": ""
                }
            },
            "type": "n8n-nodes-base.s3",
            "typeVersion": 1,
            "position": [
                496,
                -144
            ],
            "id": "0b2c8cbb-ff5b-449f-aa68-eeb9bb4989b4",
            "name": "Delete a file",
            "credentials": {
                "s3": {
                    "id": "39cMhgFsExu3SrhG",
                    "name": "S3 account"
                }
            }
        },
        {
            "parameters": {
                "resource": "point",
                "operation": "deletePoints",
                "collectionName": {
                    "__rl": true,
                    "value": "toolbox-demo",
                    "mode": "list",
                    "cachedResultName": "toolbox-demo"
                },
                "points": "",
                "filter": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.document_id\",\n      \"match\": {\n        \"value\": \"{{ $node['Webhook Delete'].json.body.id }}\"\n      }\n    },\n    {\n      \"key\": \"metadata.tenant\",\n      \"match\": {\n        \"value\": \"{{ $node['Webhook Delete'].json.body.tenant }}\"\n      }\n    }\n  ]\n}\n",
                "requestOptions": {}
            },
            "type": "n8n-nodes-qdrant.qdrant",
            "typeVersion": 1,
            "position": [
                720,
                -144
            ],
            "id": "bd74fa74-7d83-414a-8bcd-b6349667c379",
            "name": "Delete Points",
            "credentials": {
                "qdrantRestApi": {
                    "id": "91T528sHVxZuUBnt",
                    "name": "Qdrant account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Delete": {
            "main": [
                [
                    {
                        "node": "Delete a file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete a file": {
            "main": [
                [
                    {
                        "node": "Delete Points",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "bfbed0c3a0ef63a78f9cc0bda9704115aae84450a3d512c41f7c09fd3401c5c0"
    }
}