n8n/workflows/03-Chat.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "994a2d6d-fa4b-4e71-8cd1-8bfedd4f7ad3",
            "name": "Webhook Chat",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -16,
                368
            ],
            "webhookId": "chat"
        },
        {
            "parameters": {
                "text": "={{ $('Webhook Chat').item.json.body.question }}",
                "options": {
                    "systemMessage": "={{ $('Webhook Chat').item.json.body.systemPrompt }}"
                }
            },
            "id": "d853b958-e5c9-449d-9d30-340ba830b752",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                480,
                368
            ]
        },
        {
            "parameters": {
                "contextWindowLength": 10
            },
            "id": "f777d8fa-6a38-4cee-93a8-2f87e68b146b",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                336,
                592
            ]
        },
        {
            "parameters": {
                "name": "document_retriever",
                "description": "Call this tool to find factual information from the uploaded documents to answer the user's question."
            },
            "id": "d6ff87c2-2c79-4578-b6fd-6305df2afacf",
            "name": "Vector Store Tool",
            "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
            "typeVersion": 1,
            "position": [
                464,
                592
            ]
        },
        {
            "parameters": {
                "qdrantCollection": "toolbox-demo",
                "options": {
                    "searchFilterJson": "{\n  \"should\": [\n    {\n      \"key\": \"metadata.batch\",\n      \"match\": {\n        \"value\": 12345\n      }\n    }\n  ]\n}"
                }
            },
            "id": "0d19419b-cde9-4451-9a57-d1c9fd0c5faf",
            "name": "Qdrant Vector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1,
            "position": [
                368,
                800
            ],
            "credentials": {
                "qdrantApi": {
                    "id": "cHqO9QDFt7H9EsOZ",
                    "name": "QdrantApi account"
                }
            }
        },
        {
            "parameters": {
                "model": "text-embedding-3-small",
                "options": {}
            },
            "id": "3049761d-c2ac-4162-8545-f3241974443a",
            "name": "Embeddings OpenAI",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1,
            "position": [
                448,
                1008
            ],
            "credentials": {
                "openAiApi": {
                    "id": "7id7MXXFCOiXuAGJ",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "model": "openai/gpt-4o-mini",
                "options": {
                    "maxTokens": 500,
                    "temperature": 0,
                    "maxRetries": 2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                208,
                592
            ],
            "id": "ed9517d4-e4af-4244-936d-b09c05b61a9e",
            "name": "OpenRouter Chat Model",
            "retryOnFail": true,
            "credentials": {
                "openRouterApi": {
                    "id": "90gZjGTtZtSVEFrQ",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "model": "openai/gpt-4o-mini",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                656,
                800
            ],
            "id": "872c6a5a-b66e-496e-b682-122689dfd8f1",
            "name": "OpenRouter Chat Model1",
            "credentials": {
                "openRouterApi": {
                    "id": "90gZjGTtZtSVEFrQ",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "eeeb108f-b7d8-4a3b-9353-e9fabb8b2e7c",
                            "name": "tenant_id",
                            "value": "={{ $json.body.tenant }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                192,
                368
            ],
            "id": "5d29d3b2-b2f7-45e8-bf59-23d9a110bbdb",
            "name": "Edit Fields"
        }
    ],
    "connections": {
        "Webhook Chat": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Vector Store Tool": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Qdrant Vector Store": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Vector Store Tool",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Qdrant Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Vector Store Tool",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "bfbed0c3a0ef63a78f9cc0bda9704115aae84450a3d512c41f7c09fd3401c5c0"
    }
}